<%- include('./partials/header') %>
    <h1>Compose</h1>
    <form action="/compose" method="post">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Post</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3"></textarea>
            </div>
            <button type="submit" class="publish-btn btn btn-primary">Publish</button>
    </form>
    <p>
        <% if(locals.message) { %>
            <%= message%>
        <% } %>
    </p>
<%- include('./partials/footer') %>